@font-face {
    font-family: Bebas;
    src: url('../fonts/BEBAS.ttf');
}

@font-face {
    font-family: Desyrel;
    src: url('../fonts/desyrel.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Trebuchet;
    src: url('../fonts/Trebuchet_MS.ttf');
}
